/* Сокрытие */
.hidden {
  display: none;
}

/* Аватарки */
.avatar {
  overflow: hidden;

  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.avatar > img {
  width: 100%;

  position: relative;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.avatar-big {
  height: 100px;
  width: 100px;
}

.avatar-medium {
  height: 35px;
  width: 35px;
}

.avatar-small {
  height: 25px;
  width: 25px;
}

/* Карусели */
.carousel-img-wrapper {
  height: 65vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}

.carousel-img-wrapper > * {
  height: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* Обложки */
.cover-wrapper {
  overflow: hidden;
  height: 250px;
}
.cover-wrapper > * {
  height: 100%;
}
